#page_settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#form_settings .layout_labels {
    margin-top: 4em;
    margin-bottom: 4em;
}

.visualSelect_settings {
	position:relative;
	display:block;
	overflow-y:hidden;
}

@font-face { 
	font-family: 'brushsize';
	src: url(../../fonts/icons_brushsize.ttf);
    }

    .font-brushsize {
        font-family:brushsize;
        }


.selectButtonThumbnail_settings {
    margin-top:0;
    height:auto;
	font-size:13em;
	text-align:center;
	line-height:1.2;
}


.brushsizeSelect_100::before {
    font-family:brushsize;
    content:"\E900";
    }

.brushsizeSelect_80::before {
    font-family:brushsize;
    content:"\E901";
    }

.brushsizeSelect_50::before {
    font-family:brushsize;
    content:"\E902";
    }

.brushsizeSelect_20::before {
    font-family:brushsize;
    content:"\E903";
    }        
