.visualSelect_settings {
	position:relative;
	display:block;
	overflow-y:hidden;
}



/* ##### Media Queries ##### */

/* Small screens, smartphones */

@media only screen and (max-device-width: 640px) {


}