#fieldset_brush {
    padding-top:4em;
    }


.selectButtonThumbnail {
    width:100%;
    height:1em;
    margin-top:40%;
    }


/* ##### brushes ##### */

#brushFrame {
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:300;
    width:100%;
    height:100%;
    background-color:#000;
    }

#theBrush {
    width:100%;
    height:2em;
    margin-top:20%;
    }

@font-face {
font-family: 'point';
    src:url(../../fonts/point.ttf);
    }

.brush_points {
    color:#ffffff;
    font-size:3em;
    line-height:0;
    margin:0;
    padding:0;
    font-family:point;
    text-align:center;
    }

    .brush_points:after {
        content:"\e600\e601\e601\e601\e601\e601\e600\e601\e601\e601\e601\e601\e600";
        }

    .selectButtonThumbnail.brush_points {
        font-size:.5em;
        margin-top:40%;
        }


.brush_smoke {
    background: -webkit-linear-gradient(left,
    rgb(4,21,45) 0%,
    rgb(16,40,67) 1%,
    rgb(30,57,83) 2%,
    rgb(41,66,88) 3%,
    rgb(44,70,88) 4%,
    rgb(44,70,88) 5%,
    rgb(44,74,94) 6%,
    rgb(52,84,105) 7%,
    rgb(61,92,110) 8%,
    rgb(67,97,108) 9%,
    rgb(69,95,101) 10%,
    rgb(66,88,86) 11%,
    rgb(57,76,69) 12%,
    rgb(46,64,55) 13%,
    rgb(31,48,39) 14%,
    rgb(23,38,32) 15%,
    rgb(17,31,28) 16%,
    rgb(14,28,27) 17%,
    rgb(13,25,26) 18%,
    rgb(12,25,25) 19%,
    rgb(10,23,24) 20%,
    rgb(10,23,23) 21%,
    rgb(8,22,22) 22%,
    rgb(8,21,23) 23%,
    rgb(9,21,24) 24%,
    rgb(11,22,24) 25%,
    rgb(8,22,22) 26%,
    rgb(6,23,21) 27%,
    rgb(4,23,21) 28%,
    rgb(8,24,22) 29%,
    rgb(6,23,21) 30%,
    rgb(4,22,21) 31%,
    rgb(6,22,23) 32%,
    rgb(9,22,25) 33%,
    rgb(8,21,24) 34%,
    rgb(9,23,23) 35%,
    rgb(10,23,23) 36%,
    rgb(8,23,22) 37%,
    rgb(7,23,22) 38%,
    rgb(8,23,21) 39%,
    rgb(10,23,22) 40%,
    rgb(13,23,22) 41%,
    rgb(12,23,24) 42%,
    rgb(11,23,25) 43%,
    rgb(10,23,25) 44%,
    rgb(11,24,26) 45%,
    rgb(13,24,26) 46%,
    rgb(13,24,28) 47%,
    rgb(11,24,27) 48%,
    rgb(11,25,27) 49%,
    rgb(10,26,28) 50%,
    rgb(10,26,29) 51%,
    rgb(12,27,30) 52%,
    rgb(14,27,31) 53%,
    rgb(13,28,32) 54%,
    rgb(14,28,34) 55%,
    rgb(14,28,34) 56%,
    rgb(14,30,34) 57%,
    rgb(18,32,36) 58%,
    rgb(19,33,37) 59%,
    rgb(20,34,38) 60%,
    rgb(21,35,39) 61%,
    rgb(22,36,40) 62%,
    rgb(21,38,44) 63%,
    rgb(22,39,45) 64%,
    rgb(24,41,46) 65%,
    rgb(25,42,48) 66%,
    rgb(27,46,51) 67%,
    rgb(29,49,54) 68%,
    rgb(30,50,55) 69%,
    rgb(32,52,57) 70%,
    rgb(32,53,60) 71%,
    rgb(31,55,61) 72%,
    rgb(33,57,63) 73%,
    rgb(36,57,64) 74%,
    rgb(41,59,67) 75%,
    rgb(42,60,67) 76%,
    rgb(45,64,71) 77%,
    rgb(46,65,72) 78%,
    rgb(46,67,74) 79%,
    rgb(47,68,75) 80%,
    rgb(49,70,77) 81%,
    rgb(52,72,82) 82%,
    rgb(53,77,88) 83%,
    rgb(57,84,97) 84%,
    rgb(63,92,107) 85%,
    rgb(75,108,124) 86%,
    rgb(98,130,145) 87%,
    rgb(113,144,157) 88%,
    rgb(130,158,167) 89%,
    rgb(138,163,169) 90%,
    rgb(136,160,163) 91%,
    rgb(132,154,154) 92%,
    rgb(120,141,139) 93%,
    rgb(106,128,123) 94%,
    rgb(78,99,88) 95%,
    rgb(55,77,64) 96%,
    rgb(30,45,32) 97%,
    rgb(5,18,5) 98%,
    rgb(5,18,5) 99%,
    rgb(0,0,0) 100%
    );
    
    -webkit-filter: grayscale(100%); /* white */

	}

    .brush_smoke.green {
        -webkit-filter: hue-rotate(260deg);
        }

    .brush_smoke.violet {
        -webkit-filter: hue-rotate(40deg);
        }

    .brush_smoke.red {
        -webkit-filter: hue-rotate(130deg);
        }

    .brush_smoke.yellow {
        -webkit-filter: hue-rotate(200deg);
        }

    .brush_smoke.blue {
        -webkit-filter: hue-rotate(0deg);
        }



.brush_gradient {

background: -webkit-linear-gradient(left,
    rgba(255,255,255,1) 0%,
    rgba(137,159,255,1) 10%,
    rgba(137,159,255,1) 20%,
    rgba(137,159,255,1) 30%,
    rgba(137,149,255,1) 40%,
    rgba(59,87,247,1) 95%,
    rgba(255,255,255,1) 100%); 
    -webkit-filter: grayscale(100%);
    }


    .brush_gradient.green {
        -webkit-filter: hue-rotate(260deg);
        }

    .brush_gradient.violet {
        -webkit-filter: hue-rotate(40deg);
        }

    .brush_gradient.red {
        -webkit-filter: hue-rotate(130deg);
        }

    .brush_gradient.yellow {
        -webkit-filter: hue-rotate(190deg);
        }

    .brush_gradient.blue {
        -webkit-filter: hue-rotate(0deg);
        }



.brush_rainbow {
    background: -webkit-linear-gradient(left,
    red 14%,
    orange 28%,
    yellow 32%,
    green 46%,
    blue 60%,
    indigo 74%,
    violet 88%
    );
}

.brush_citrus {
    background: -webkit-linear-gradient(left,
    #84d628 0%,
    #84d628 20%,
    #d0f54f 20%,
    #d0f54f 40%,
    #fcff33 40%,
    #fcff33 60%,
    #ffa71b 60%,
    #ffa71b 80%,
    #ff5e45 80%,
    #ff5e45 100%
    );
}


.brush_retro {
    background: -webkit-linear-gradient(left,
    #404040 0%,
    #404040 20%,
    #024959 20%,
    #024959 40%,
    #037e8c 40%,
    #037e8c 60%,
    #f2efdc 60%,
    #f2efdc 80%,
    #f24c27 80%,
    #f24c27 100%
    );
}


.brush_winter {
    background: -webkit-linear-gradient(left,
    #273f5a 0%,
    #273f5a 20%,
    #c6dbf3 20%,
    #c6dbf3 40%,
    #4b81a5 40%,
    #4b81a5 60%,
    #74a0bf 60%,
    #74a0bf 80%,
    #98c4da 80%,
    #98c4da 100%
    );
}


.brush_spring {
    background: -webkit-linear-gradient(left,
    #45e851 0%,
    #45e851 20%,
    #5cb9ff 20%,
    #5cb9ff 40%,
    #ffd722 40%,
    #ffd722 60%,
    #e80855 60%,
    #e80855 80%,
    #8626ee 80%,
    #8626ee 100%
    );
}


.brush_summer {
    background: -webkit-linear-gradient(left,
    #ff860d 0%,
    #ff860d 20%,
    #e8430c 20%,
    #e8430c 40%,
    #ff0000 40%,
    #ff0000 60%,
    #ff12dd 60%,
    #ff12dd 80%,
    #a10dff 80%,
    #a10dff 100%
    );
}


.brush_autumn {
    background: -webkit-linear-gradient(left,
    #766537 0%,
    #766537 20%,
    #eeb415 20%,
    #eeb415 40%,
    #bf5b04 40%,
    #bf5b04 60%,
    #c26f2d 60%,
    #c26f2d 80%,
    #592202 80%,
    #592202 100%
    );
}


.brush_usa {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 33%,
    white 33%,
    white 66%,
    blue 66%,
    blue 100%
    );
}


.brush_mexico {
    background: -webkit-linear-gradient(left,
    green 0%,
    green 33%,
    white 33%,
    white 66%,
    red 66%,
    red 100%
    );
}


/* ##### Navigation ##### */

a#showBrushes {
    font-family:Roboto-Medium;
    color:#000;
    }