/* ##### brushes ##### */





/* Brushes - Points */


@font-face {
font-family: 'point';
    src:url(../../fonts/point.ttf);
    }

.brush_points {
    color:#ffffff;
    font-size:3em;
    line-height:0;
    margin:0;
    padding:0;
    font-family:point;
    text-align:center;
    }

    .brushsize_100 .brush_points {
        font-size:3em;
    }

    .brushsize_80 .brush_points {
        font-size:2.4em;
    }

    .brushsize_50 .brush_points {
        font-size:1.5em;
    }

    .brushsize_20 .brush_points {
        font-size:.6em;

    }

    .brush_points:after {
        content:"\e600\e601\e601\e601\e601\e601\e600\e601\e601\e601\e601\e601\e600";
        }

    .points_1::after {
        content:"\e600";
        }

    .points_2::after {
        content:"\e600\e601\e601\e601\e601\e601\e601\e601\e601\e601\e601\e601\e600";
        }

    .points_3::after {
        content:"\e600\e601\e601\e601\e601\e601\e601\e600\e601\e601\e601\e601\e601\e601\e600";
        }

    .points_4::after {
        content:"\e600\e601\e601\e601\e601\e601\e600\e601\e601\e601\e601\e601\e600\e601\e601\e601\e601\e601\e600";
        }                


    .selectButtonThumbnail.brush_points {
        font-size:.5em;
        margin-top:40%;
        }

