/* ##### stencils ##### */


@font-face { 
	font-family: 'animals';
	src: url(../../fonts/animals.ttf);
    }

    .font-animals {
        font-family:animals;
        }

@font-face { 
	font-family: 'bugs';
	src: url(../../fonts/bugs.ttf);
    }

    .font-bugs {
        font-family:bugs;
        }

@font-face { 
	font-family: 'flowers';
	src: url(../../fonts/flowers.ttf);
    }

    .font-flowers {
        font-family:flowers;
        }

@font-face { 
	font-family: 'flyingMachines';
	src: url(../../fonts/flyingMachines.ttf);
    }
    
    .font-flyingMachines {
        font-family:flyingMachines;
        }    

@font-face { 
	font-family: 'organic';
	src: url(../../fonts/organic.ttf);
    }

    .font-organic {
        font-family:organic;
        }

@font-face { 
	font-family: 'ornaments';
	src: url(../../fonts/ornaments.ttf);
    }
    
    .font-ornaments {
        font-family:ornaments;
        }    
    

@font-face { 
	font-family: 'people';
	src: url(../../fonts/people.ttf);
    }

    .font-people {
        font-family:people;
        }


@font-face { 
	font-family: 'plants';
	src: url(../../fonts/plants.ttf);
    }

    .font-plants {
        font-family:plants;
        }

@font-face { 
	font-family: 'snowflakes';
	src: url(../../fonts/snowflakes.ttf);
    }
    
    .font-snowflakes {
        font-family:snowflakes;
        }    

@font-face { 
	font-family: 'ufo';
	src: url(../../fonts/ufo.ttf);
    }

    .font-ufo {
        font-family:ufo;
        }

@font-face { 
	font-family: 'underTheSea';
	src: url(../../fonts/underTheSea.ttf);
    }

    .font-underTheSea {
        font-family:underTheSea;
        }




/* ##### Thumbnails ##### */

#visualSelect_stencil .selectButtonThumbnail {
    color:#fff;
    text-align:center;
    font-size:6em;
    margin-top:5%;
    }

.selectButtonLabel,
.selectButton {
    font-family:ornaments;
    }


.stencil_0000::before {
    font-family:ornaments;
    content:"\E600";
    }

.stencil_0001::before {
    font-family:ornaments;
    content:"\E601";
    }
    
.stencil_0002::before {
    font-family:ornaments;
    content:"\E602";
    }    

.stencil_0003::before {
    font-family:ornaments;
    content:"\E603";
    }  
    
.stencil_0004::before {
    font-family:ornaments;
    content:"\E604";
    }  
    
.stencil_0005::before {
    font-family:ornaments;
    content:"\E605";
    }      

.stencil_0006::before {
    font-family:ornaments;
    content:"\E606";
    }  
    
.stencil_0007::before {
    font-family:ornaments;
    content:"\E607";
    }  
    
.stencil_0008::before {
    font-family:ornaments;
    content:"\E608";
    }  
    
.stencil_0009::before {
    font-family:ornaments;
    content:"\E609";
    }  
    
.stencil_0010::before {
    font-family:ornaments;
    content:"\E60a";
    }  
    
.stencil_0011::before {
    font-family:ornaments;
    content:"\E60b";
    }      
    
.stencil_0012::before {
    font-family:ornaments;
    content:"\E60c";
    }  
    
.stencil_0013::before {
    font-family:ornaments;
    content:"\E60d";
    }      

.stencil_0014::before {
    font-family:ornaments;
    content:"\E60e";
    }  
    
.stencil_0015::before {
    font-family:ornaments;
    content:"\E60f";
    }    

.stencil_0014::before {
    font-family:ornaments;
    content:"\E60e";
    }  
    
.stencil_0015::before {
    font-family:ornaments;
    content:"\E60f";
    }    

.stencil_0016::before {
    font-family:ornaments;
    content:"\E610";
    }  
    
.stencil_0017::before {
    font-family:ornaments;
    content:"\E611";
    }    



.stencil_0018::before {
    font-family:flowers;
    content:"\E600";
    }    

.stencil_0019::before {
    font-family:flowers;
    content:"\E601";
    }

.stencil_0020::before {
    font-family:flowers;
    content:"\E602";
    }

.stencil_0021::before {
    font-family:flowers;
    content:"\E603";
    }

.stencil_0022::before {
    font-family:flowers;
    content:"\E604";
    }

.stencil_0023::before {
    font-family:flowers;
    content:"\E605";
    }

.stencil_0024::before {
    font-family:flowers;
    content:"\E606";
    }

.stencil_0025::before {
    font-family:flowers;
    content:"\E607";
    }                        



.stencil_0026::before {
    font-family:snowflakes;
    content:"\E600";
    }

.stencil_0027::before {
    font-family:snowflakes;
    content:"\E601";
    }

.stencil_0028::before {
    font-family:snowflakes;
    content:"\E602";
    }

.stencil_0029::before {
    font-family:snowflakes;
    content:"\E603";
    }

.stencil_0030::before {
    font-family:snowflakes;
    content:"\E604";
    }

.stencil_0031::before {
    font-family:snowflakes;
    content:"\E605";
    }

.stencil_0032::before {
    font-family:snowflakes;
    content:"\E606";
    }

.stencil_0033::before {
    font-family:snowflakes;
    content:"\E607";
    }

.stencil_0034::before {
    font-family:snowflakes;
    content:"\E608";
    }

.stencil_0035::before {
    font-family:snowflakes;
    content:"\E609";
    }                                



.stencil_0036::before {
    font-family:plants;
    content:"\E600";
    }   

.stencil_0037::before {
    font-family:plants;
    content:"\E601";
    }

.stencil_0038::before {
    font-family:plants;
    content:"\E602";
    }

.stencil_0039::before {
    font-family:plants;
    content:"\E603";
    }

.stencil_0040::before {
    font-family:plants;
    content:"\E604";
    }

.stencil_0041::before {
    font-family:plants;
    content:"\E605";
    }

.stencil_0042::before {
    font-family:plants;
    content:"\E606";
    }

.stencil_0043::before {
    font-family:plants;
    content:"\E607";
    }

.stencil_0044::before {
    font-family:plants;
    content:"\E608";
    }

.stencil_0045::before {
    font-family:plants;
    content:"\E609";
    }                                

.stencil_0046::before {
    font-family:plants;
    content:"\E60a";
    } 

.stencil_0047::before {
    font-family:plants;
    content:"\E60b";
    }     


.stencil_0048::before {
    font-family:organic;
    content:"\E600";
    }  

.stencil_0049::before {
    font-family:organic;
    content:"\E601";
    }  

.stencil_0050::before {
    font-family:organic;
    content:"\E602";
    }  

.stencil_0051::before {
    font-family:organic;
    content:"\E603";
    }  

.stencil_0052::before {
    font-family:organic;
    content:"\E604";
    }  

.stencil_0053::before {
    font-family:organic;
    content:"\E605";
    }  

.stencil_0054::before {
    font-family:organic;
    content:"\E606";
    }                      

.stencil_0055::before {
    font-family:organic;
    content:"\E607";
    } 


.stencil_0056::before {
    font-family:animals;
    content:"\E600";
    } 

.stencil_0057::before {
    font-family:animals;
    content:"\E601";
    } 

.stencil_0058::before {
    font-family:animals;
    content:"\E602";
    } 

.stencil_0059::before {
    font-family:animals;
    content:"\E603";
    } 

.stencil_0060::before {
    font-family:animals;
    content:"\E604";
    } 

.stencil_0061::before {
    font-family:animals;
    content:"\E605";
    } 

.stencil_0062::before {
    font-family:animals;
    content:"\E606";
    } 

.stencil_0063::before {
    font-family:animals;
    content:"\E607";
    } 

.stencil_0064::before {
    font-family:animals;
    content:"\E608";
    } 

.stencil_0065::before {
    font-family:animals;
    content:"\E609";
    } 

.stencil_0066::before {
    font-family:animals;
    content:"\E60a";
    } 

.stencil_0067::before {
    font-family:animals;
    content:"\E60b";
    }                                         



.stencil_0068::before {
    font-family:bugs;
    content:"\E600";
    } 

.stencil_0069::before {
    font-family:bugs;
    content:"\E601";
    } 

.stencil_0070::before {
    font-family:bugs;
    content:"\E602";
    } 

.stencil_0071::before {
    font-family:bugs;
    content:"\E603";
    } 

.stencil_0072::before {
    font-family:bugs;
    content:"\E604";
    } 

.stencil_0073::before {
    font-family:bugs;
    content:"\E605";
    } 

.stencil_0074::before {
    font-family:bugs;
    content:"\E606";
    } 

.stencil_0075::before {
    font-family:bugs;
    content:"\E607";
    } 

.stencil_0076::before {
    font-family:bugs;
    content:"\E608";
    } 

.stencil_0077::before {
    font-family:bugs;
    content:"\E609";
    } 

.stencil_0078::before {
    font-family:bugs;
    content:"\E60a";
    } 

.stencil_0079::before {
    font-family:bugs;
    content:"\E60b";
    }

.stencil_0080::before {
    font-family:bugs;
    content:"\E60c";
    }


.stencil_0081::before {
    font-family:people;
    content:"\E600";
    }

.stencil_0082::before {
    font-family:people;
    content:"\E601";
    }

.stencil_0083::before {
    font-family:people;
    content:"\E602";
    }

.stencil_0084::before {
    font-family:people;
    content:"\E603";
    }

.stencil_0085::before {
    font-family:people;
    content:"\E604";
    }

.stencil_0086::before {
    font-family:people;
    content:"\E605";
    }

.stencil_0087::before {
    font-family:people;
    content:"\E606";
    }

.stencil_0088::before {
    font-family:people;
    content:"\E607";
    }

.stencil_0089::before {
    font-family:people;
    content:"\E608";
    }

.stencil_0090::before {
    font-family:people;
    content:"\E609";
    }

.stencil_0091::before {
    font-family:people;
    content:"\E60a";
    }

.stencil_0092::before {
    font-family:people;
    content:"\E60b";
    }

.stencil_0093::before {
    font-family:people;
    content:"\E60c";
    }

.stencil_0094::before {
    font-family:people;
    content:"\E60d";
    }                                        



.stencil_0095::before {
    font-family:underTheSea;
    content:"\E600";
    }

.stencil_0096::before {
    font-family:underTheSea;
    content:"\E601";
    }

.stencil_0097::before {
    font-family:underTheSea;
    content:"\E602";
    }

.stencil_0098::before {
    font-family:underTheSea;
    content:"\E603";
    }

.stencil_0099::before {
    font-family:underTheSea;
    content:"\E604";
    }

.stencil_0100::before {
    font-family:underTheSea;
    content:"\E605";
    }

.stencil_0101::before {
    font-family:underTheSea;
    content:"\E606";
    }

.stencil_0102::before {
    font-family:underTheSea;
    content:"\E607";
    }

.stencil_0103::before {
    font-family:underTheSea;
    content:"\E608";
    }

.stencil_0104::before {
    font-family:underTheSea;
    content:"\E609";
    }

.stencil_0105::before {
    font-family:underTheSea;
    content:"\E60a";
    }

.stencil_0106::before {
    font-family:underTheSea;
    content:"\E60b";
    }

.stencil_0107::before {
    font-family:underTheSea;
    content:"\E60c";
    }



.stencil_0108::before {
    font-family:flyingMachines;
    content:"\E600";
    }

.stencil_0109::before {
    font-family:flyingMachines;
    content:"\E601";
    }

.stencil_0110::before {
    font-family:flyingMachines;
    content:"\E602";
    }

.stencil_0111::before {
    font-family:flyingMachines;
    content:"\E603";
    }

.stencil_0112::before {
    font-family:flyingMachines;
    content:"\E604";
    }

.stencil_0113::before {
    font-family:flyingMachines;
    content:"\E605";
    }

.stencil_0114::before {
    font-family:flyingMachines;
    content:"\E606";
    }

                            



                                                




   
#button_selectStencil {
    font-size:3em;
    padding:.5em;
    }   
   

#stencilFrame {
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:300;
    width:100%;
    height:100%;
    background-color:#000;
    }


#stencil {

    }

#char {
    width:100%;
    height:100%;
	font-family: fontsnthings250;
    font-size:100vh;
    text-align:center;
    -webkit-animation-name:stencilStrobe;
    -webkit-animation-timing-function:step-start;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;
    }

@-webkit-keyframes stencilStrobe {
    0%   {color:black;}
    97%  {color:black;}
    100% {color:white;}
    }


/* ##### Navigation ##### */

a#showStencils {
    font-family:Roboto-Medium;
    color:#000;
    }