/* ##### Layout styles ##### */

#colorFrame {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    }

#colorMask {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:200;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position: top center;
    background-size:cover;
    }

#theColor {
    height:100%;
    margin-left:auto;
    margin-right:auto;    }

#colorStrobe {
    position:absolute;
    top:0;
    left:0;
    z-index:300;
    width:100%;
    height:100%;
    -webkit-animation-name:colorStrobe;
    -webkit-animation-duration:0s;
    -webkit-animation-timing-function:step-start;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;
    }

@-webkit-keyframes colorStrobe {
    0%   {background-color:black;}
    50%  {background-color:black;}
    100% {background-color:transparent;}
    }


/* ##### Buttons ##### */

#visualSelect_strobe {
    }    

    #visualSelect_strobe .visualSelect_description {
        margin-bottom:5%;
        }

#visualSelect_mask {}        

    #visualSelect_mask .selectButtonContainer {
        }

        #visualSelect_mask .selectButtonContainer .selectButtonThumbnail {
            position:relative;
            width:100%;
            height:100%;
            background-size:50%;
            background-position:center center;
            background-repeat:no-repeat;
            margin-top:0;
            }

            #visualSelect_mask .selectButtonContainer .thumbnail_fullscreen {
                background-image:url(../../img/icon_mask_fullscreen.png);
                }        
    
            #visualSelect_mask .selectButtonContainer .thumbnail_circle {
                background-image:url(../../img/icon_mask_circle.png);
                }        
            
            #visualSelect_mask .selectButtonContainer .thumbnail_bar {
                background-image:url(../../img/icon_mask_bar.png);
                }  
            
            #visualSelect_mask .selectButtonContainer .thumbnail_line {
                background-image:url(../../img/icon_mask_line.png);
                }  
            
            #visualSelect_mask .selectButtonContainer .thumbnail_square {
                background-image:url(../../img/icon_mask_square.png);
                }  
            
            #visualSelect_mask .selectButtonContainer .thumbnail_sunburst {
                background-image:url(../../img/icon_mask_sunburst.png);
                }                      
            
            #visualSelect_mask .selectButtonContainer .thumbnail_point {
                background-image:url(../../img/icon_mask_point.png);
                }                      

            #visualSelect_mask .selectButtonContainer .thumbnail_points {
                background-image:url(../../img/icon_mask_points.png);
                } 

                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_fullscreen,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_circle,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_bar,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_line,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_square,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_sunburst,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_point,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_points {
                    opacity:0.4;
                    }                                      


.visualSelect_list_item-colors .selectButtonContainer .selectButtonThumbnail {
        display:none;
        }

.visualSelect_list_item-colors .selectButtonContainer button {
        outline:0;
        }



/* ##### Navigation ##### */

#showBrushes {
    color:#000;
    font-weight:bold;
}