/* ##### shapes ##### */

#colorFrame {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    }

#colorMask {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:200;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position: top center;
    background-size:cover;
    }

#theColor {
    height:100%;
    margin-left:auto;
    margin-right:auto;    }

#colorStrobe {
    position:absolute;
    top:0;
    left:0;
    z-index:300;
    width:100%;
    height:100%;
    -webkit-animation-name:colorStrobe;
    -webkit-animation-duration:0s;
    -webkit-animation-timing-function:step-start;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;
    }

@-webkit-keyframes colorStrobe {
    0%   {background-color:black;}
    50%  {background-color:black;}
    100% {background-color:transparent;}
    }


/* ##### Buttons ##### */

#visualSelect_strobe {
    }    

    #visualSelect_strobe .visualSelect_description {
        margin-bottom:5%;
        }

#visualSelect_mask {}        

    #visualSelect_mask .selectButtonContainer {
        }

        #visualSelect_mask .selectButtonContainer .selectButtonThumbnail {
            position:relative;
            width:100%;
            height:100%;
            background-size:50%;
            background-position:center center;
            background-repeat:no-repeat;
            margin-top:0;
            }

            #visualSelect_mask .selectButtonContainer .thumbnail_fullscreen {
                background-image:url(../../img/icon_mask_fullscreen.png);
                }        
    
            #visualSelect_mask .selectButtonContainer .thumbnail_circle {
                background-image:url(../../img/icon_mask_circle.png);
                }        
            
            #visualSelect_mask .selectButtonContainer .thumbnail_bar {
                background-image:url(../../img/icon_mask_bar.png);
                }  
            
            #visualSelect_mask .selectButtonContainer .thumbnail_line {
                background-image:url(../../img/icon_mask_line.png);
                }  
            
            #visualSelect_mask .selectButtonContainer .thumbnail_square {
                background-image:url(../../img/icon_mask_square.png);
                }  
            
            #visualSelect_mask .selectButtonContainer .thumbnail_sunburst {
                background-image:url(../../img/icon_mask_sunburst.png);
                }                      
            
            #visualSelect_mask .selectButtonContainer .thumbnail_point {
                background-image:url(../../img/icon_mask_point.png);
                }                      

                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_fullscreen,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_circle,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_bar,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_line,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_square,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_sunburst,
                body.nightMode #visualSelect_mask .selectButtonContainer .thumbnail_point {
                    opacity:0.4;
                    }                                      


.visualSelect_list_item-colors .selectButtonContainer .selectButtonThumbnail {
        display:none;
        }

.visualSelect_list_item-colors .selectButtonContainer button {
        outline:0;
        }



/* ##### Navigation ##### */

a#showShapes {
    font-family:Roboto-Medium;
    color:#000;
    }



/* ##### Layout ##### */


#select_menu {
    position:fixed;
    top:0;
    left:0;
    width:calc(25% - 2em);
    height:100%;
    margin:0;
    padding:1em;
    list-style:none;
}

.visualSelect_list {
    float:left;
    width:75%;
    height:100%;
    margin:0 0 0 25%;
    padding:0;
    list-style:none;
}

.visualSelect_list_item {
    width:100%;
    height:100%;
    display:none;
}


.visualSelect_list_item-colors {
    display:block;
}


#page_shapes fieldset.layout_labels {
    margin-bottom:1.25em;
    }  



/* ##### Colors ##### */

.color_white {
    background-color:white;
}

.color_blue {
    background-color:blue;
}

.color_aqua {
    background-color:aqua;
}

.color_teal {
    background-color:teal;
}

.color_olive {
    background-color:olive;
}

.color_green {
    background-color:green;
}

.color_lime {
    background-color:lime;
}

.color_yellow {
    background-color:yellow;
}

.color_orange {
    background-color:orange;
}

.color_red {
    background-color:red;
}

.color_maroon {
    background-color:maroon;
}

.color_fuchsia {
    background-color:fuchsia;
}

.color_purple {
    background-color:purple;
}

.color_silver {
    background-color:silver;
}


/* ##### Stripes ##### */

.stripes_rainbow {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 14.285%,
    orange 14%,
    orange 28.57%,
    yellow 28.57%,
    yellow 42.855%,
    green 42.855%,
    green 57.14%,
    blue 57.14%,
    blue 71.425%,
    indigo 71.425%,
    indigo 85.71%,
    violet 85.71%,
    violet 100%
    );
}

.stripes_citrus {
    background: -webkit-linear-gradient(left,
    #84d628 0%,
    #84d628 20%,
    #d0f54f 20%,
    #d0f54f 40%,
    #fcff33 40%,
    #fcff33 60%,
    #ffa71b 60%,
    #ffa71b 80%,
    #ff5e45 80%,
    #ff5e45 100%
    );
}


.stripes_retro {
    background: -webkit-linear-gradient(left,
    #404040 0%,
    #404040 20%,
    #024959 20%,
    #024959 40%,
    #037e8c 40%,
    #037e8c 60%,
    #f2efdc 60%,
    #f2efdc 80%,
    #f24c27 80%,
    #f24c27 100%
    );
}


.stripes_winter {
    background: -webkit-linear-gradient(left,
    #273f5a 0%,
    #273f5a 20%,
    #c6dbf3 20%,
    #c6dbf3 40%,
    #4b81a5 40%,
    #4b81a5 60%,
    #74a0bf 60%,
    #74a0bf 80%,
    #98c4da 80%,
    #98c4da 100%
    );
}


.stripes_spring {
    background: -webkit-linear-gradient(left,
    #45e851 0%,
    #45e851 20%,
    #5cb9ff 20%,
    #5cb9ff 40%,
    #ffd722 40%,
    #ffd722 60%,
    #e80855 60%,
    #e80855 80%,
    #8626ee 80%,
    #8626ee 100%
    );
}


.stripes_summer {
    background: -webkit-linear-gradient(left,
    #ff860d 0%,
    #ff860d 20%,
    #e8430c 20%,
    #e8430c 40%,
    #ff0000 40%,
    #ff0000 60%,
    #ff12dd 60%,
    #ff12dd 80%,
    #a10dff 80%,
    #a10dff 100%
    );
}


.stripes_autumn {
    background: -webkit-linear-gradient(left,
    #766537 0%,
    #766537 20%,
    #eeb415 20%,
    #eeb415 40%,
    #bf5b04 40%,
    #bf5b04 60%,
    #c26f2d 60%,
    #c26f2d 80%,
    #592202 80%,
    #592202 100%
    );
}


.stripes_usa {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 33%,
    white 33%,
    white 66%,
    blue 66%,
    blue 100%
    );
}


/* ##### Gradients ##### */

.gradient_rainbow {
    background: -webkit-linear-gradient(left,
    red 14%,
    orange 28%,
    yellow 32%,
    green 46%,
    blue 60%,
    indigo 74%,
    violet 88%
    );
}