/* ##### Navigation ##### */

a#instructions {
    font-family:Roboto-Medium;
    color:#000;
    }

#page_instructions .content_container p:first-child {
    margin-top:4em;
    }

/* ##### Layout ##### */


.img_demo {
	width:100%;
	margin-top:80px;
}

.screenshots {
	width:100%;
	overflow:auto;
	margin:0 0 1em 0;
	line-height:1;
	}

.img_screenshot {
	width:24.45%;
	}

	.nightMode .img_screenshot {
		opacity:0.6;
	}


@media only screen and (max-device-width: 640px) {

	#page_instructions .content_container p:first-child {
	    margin-top:6em;
	    }

}          