/* ##### Navigation ##### */

#page_about a {
	display: inline;
	color:#dd2c00;
	padding:0;
	}

a#about {
    font-family:Roboto-Medium;
    color:#000;
    }

#page_about .content_container h1:first-child {
    margin-top:4em;
    }
