/* ##### layout styles ##### */

#animatedBrushFrame {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    }

.ball {
    width:20px;
    height:20px;
    border-radius:50%;
    position:absolute;
}


/* ##### navigation #####  */

#showAnimatedBrushes {
    color:#000;
    font-weight:bold;
}

#select_menu_palettes {
    display:none;
}


/* ##### animated brush styles ##### */


/* animated brush - font-based graphic elements */
@font-face {
    font-family: 'animatedBrushElements';
    src: url('../../fonts/animatedBrushElements.ttf');
    }


#animatedBrushWrapper {
    width:100%;
    height:100%;
    overflow:visible;
    }

/* animated brush - "8-bit" style */

#eightBitBrush {
    position:absolute;
    top:45%;
    left:0;
    width:100%;
    }

#eightBitBrush .pixel {
    float:left;
    width:6.2%;
    height:3em;
    margin:0;
    padding:0;
    }
 


/* animated brushes - character-based */

.brush_char {
    display:none;
    position:absolute;
    top:30%;
    text-align:center;
    width:100%;
    overflow:hidden;
    }

/* Make some characters invisible for random spacing */
.obj_hide {
    color:#000;
    }


    /* Dots - animated character-based brushes */

    #brush_dots span {
        vertical-align:middle;
        }

    #brush_dots span::before {
        font-family:animatedBrushElements;
        color:#000;
        content:"\e600";
        }

    #brush_dots span.showDot::before {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }



    /* Circles - animated character-based brushes */

    #brush_circles span {
        font-family:animatedBrushElements;
        vertical-align:middle;
        }

    .circle0::before {content:"\e625";}

    .circle1::before {content:"\e626";}

    .circle2::before {content:"\e627";}

    .circle3::before {content:"\e628";}     

    .circle4::before {content:"\e629";}

    .circle5::before {content:"\e62a";}

    .circle6::before {content:"\e62b";}

    .circle7::before {content:"\e62c";}

    .circle8::before {content:"\e62d";}

    .circle9::before {content:"\e62e";}

    .circle10::before {content:"\e62f";}                        

    .circle11::before {content:"\e630";}


    .circleColor0 {
        color:#ffffff;
        }

    .circleColor1 {
        color:#bffff6;
        }

    .circleColor2 {
        color:#f9ffc5;
        }

    .circleColor3 {
        color:#ff90b2;
        }

    .circleColor4 {
        color:#ffdcb3;
        }


    /* Stars - animated character-based brushes */

    #brush_stars span {
        font-family:animatedBrushElements;
        vertical-align:middle;
        }

    .star0::before {content:"\e619";}

    .star1::before {content:"\e61a";}

    .star2::before {content:"\e61b";}

    .star3::before {content:"\e61c";}       

    .star4::before {content:"\e61d";}

    .star5::before {content:"\e61e";}

    .star6::before {content:"\e61f";}

    .star7::before {content:"\e620";}

    .star8::before {content:"\e621";}

    .star9::before {content:"\e622";}

    .star10::before {content:"\e623";}                      

    .star11::before {content:"\e624";}


    .starColor0 {
        color:#ffffff;
        }

    .starColor1 {
        color:#f8f8f8;
        }

    .starColor2 {
        color:#e6e6e6;
        }

    .starColor3 {
        color:#d7dbff;
        }

    .starColor4 {
        color:#f3f4ff;
        }

    .starColor5 {
        color:#faffd3;
        }

    .starColor6 {
        color:#ffd3d3;
        }   


    /* Snowflakes - animated character-based brushes */

    #brush_snowflakes span {
        font-family:animatedBrushElements;
        vertical-align:middle;        
        }

    .snowflake0::before {content:"\e60d";}

    .snowflake1::before {content:"\e60e";}

    .snowflake2::before {content:"\e60f";}

    .snowflake3::before {content:"\e610";}      

    .snowflake4::before {content:"\e611";}

    .snowflake5::before {content:"\e612";}

    .snowflake6::before {content:"\e613";}

    .snowflake7::before {content:"\e614";}

    .snowflake8::before {content:"\e615";}

    .snowflake9::before {content:"\e616";}

    .snowflake10::before {content:"\e617";}                     

    .snowflake11::before {content:"\e618";}


    .snowflakeColor0 {
        color:#ffffff;
        }

    .snowflakeColor1 {
        color:#f8f8f8;
        }

    .snowflakeColor2 {
        color:#e6e6e6;
        }

    .snowflakeColor3 {
        color:#d7dbff;
        }

    .snowflakeColor4 {
        color:#f3f4ff;
        }


    /* Notes - animated character-based brushes */

    #brush_notes span {
        font-family:animatedBrushElements;
        }

    .note0::before {content:"\e631";}

    .note1::before {content:"\e632";}

    .note2::before {content:"\e633";}

    .note3::before {content:"\e634";}       

    .note4::before {content:"\e635";}

    .note5::before {content:"\e636";}

    .note6::before {content:"\e637";}

    .note7::before {content:"\e638";}

    .note8::before {content:"\e639";}

    .note9::before {content:"\e63a";}

    .note10::before {content:"\e63b";}                      

    .note11::before {content:"\e63c";}

    .note12::before {content:"\e63d";}

    .note13::before {content:"\e63e";}

    .note14::before {content:"\e63f";}

    .note15::before {content:"\e640";}

    .note16::before {content:"\e641";}

    .note17::before {content:"\e642";}

    .note18::before {content:"\e643";}

    .note19::before {content:"\e644";}

    .note20::before {content:"\e645";}

    .note21::before {content:"\e646";}

    .note22::before {content:"\e647";}

    .note23::before {content:"\e648";}

    .note24::before {content:"\e649";}                              

    .note25::before {content:"\e64a";}  

    .noteColor0 {
        color:#ffffff;
        }

    .noteColor1 {
        color:#f8f8f8;
        }

    .noteColor2 {
        color:#e6e6e6;
        }

    .noteColor3 {
        color:#d7dbff;
        }

    .noteColor4 {
        color:#f3f4ff;
        }


    /* Flowers - animated character-based brushes */

    #brush_flowers span {
        font-family:animatedBrushElements;
        }

    .flower0::before {content:"\e601";}

    .flower1::before {content:"\e602";}

    .flower2::before {content:"\e603";}

    .flower3::before {content:"\e604";}     

    .flower4::before {content:"\e605";}

    .flower5::before {content:"\e606";}

    .flower6::before {content:"\e607";}

    .flower7::before {content:"\e608";}

    .flower8::before {content:"\e609";}

    .flower9::before {content:"\e60a";}

    .flower10::before {content:"\e60b";}                        

    .flower11::before {content:"\e60c";}


    .flowerColor0 {
        color:#ffffff;
        }

    .flowerColor1 {
        color:#c6a1ee;
        }

    .flowerColor2 {
        color:#edb4bb;
        }

    .flowerColor3 {
        color:#fff186;
        }

    .flowerColor4 {
        color:#afbeff;
        }

    .flowerColor5 {
        color:#ffb173;
        }

    .flowerColor6 {
        color:#c9fd78;
        }                                       

    .flowerColor7 {
        color:#ff8dbd;
        }

    .flowerColor8 {
        color:#ffec84;
        }

    .flowerColor9 {
        color:#f3d2ff;
        }


/* Animated brush - flames */

#brush_flame {
    position:absolute;
    width:100%;
    height:10%;
    top:40%;
    left:0;
    z-index:200;
    background-image:url(../../img/animatedBrush_fire.jpg);
    background-size:cover;
    background-position:0 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: flameAnimation; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: linear;    
    }



@-webkit-keyframes flameAnimation {

    from {
        background-position:0px 0px;
        }

    to {
        background-position:0px calc(-12660px + 100px);
        }
    }        



/* Animated brush - spinner */

#brush_spinner {
    height:auto;
    }

#brush_spinnerShape {
    position:absolute;
    width:auto;
    height:6px;
    border-radius:3px;
    background: -webkit-linear-gradient(left, #ffff96 0%,#ffffff 40%,#ffffff 60%,#ffff96 100%);
    -webkit-animation: spinnerAnimation 1s linear infinite;
    }

    @-webkit-keyframes spinnerAnimation {
        from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
        to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
        }





/* Animated brush - bounce */


#brush_bounce {
    height:100%;
}

.ball.bounce {
    top:0;
    left:calc(50% - 5px);   
    -webkit-animation-name: bounceAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes bounceAnimation {

  from {
    -webkit-transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(360px);
  }

}


/* Animated brush - orbit */

#brush_orbit {}

.ball.orbit {
    top:calc(50% - 5px);
    left:calc(50% - 180px - 5px);
    -webkit-animation-name: orbitAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 180px 0;    
}

@-webkit-keyframes orbitAnimation {

  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }

}


/* Animated brush - pulse */

.ball.pulse {
    top:calc(50% - 5px);
    left:calc(50% - 5px);   
    -webkit-animation-name: pulseAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;
}



@-webkit-keyframes pulseAnimation {

  from {
    -webkit-transform: scale(1,1);
  }

  to {
    -webkit-transform: scale(18,18);
  }


}


/* Animated brush - fade */

.fader {
    -webkit-animation-name: faderAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;
}

.ball.fader {
  
}

    .brushsize_20 .ball.fader {
        width:8em;
        height:8em;
        border-radius:4em;
        top:calc(50% - 4em);
        left:calc(50% - 4em);  

    }

    .brushsize_50 .ball.fader {
        width:18em;
        height:18em;
        border-radius:9em;
        top:calc(50% - 9em);
        left:calc(50% - 9em);          

    }

    .brushsize_80 .ball.fader {
        width:28em;
        height:28em;
        border-radius:14em;
        top:calc(50% - 14em);
        left:calc(50% - 14em);         

    }

    .brushsize_100 .ball.fader {
        width:36em;
        height:36em;
        border-radius:18em;
        top:calc(50% - 18em);
        left:calc(50% - 18em); 
    }    


@-webkit-keyframes faderAnimation {

  from {
    opacity:0;
  }

  to {
    opacity:1;
  }


}


/* Animated brush - streaker */


.streaker_container {
    position:absolute;
    top:calc(50% - 3%);
    width:100%;
    height:6.2%;

}


.streaker_container .ball {
    opacity:0;
    position:relative;
    float:left;
    width:6.2%;
    height:180%;
    margin:0;
    padding:0;
}

.streaker_container .ball.on {
    -webkit-animation-name: streakerAnimationOn;
    opacity:1;
}

.streaker_container .ball.off {
    -webkit-animation-name: streakerAnimationOff;
    opacity:0;
}

@-webkit-keyframes streakerAnimationOn {

  from {
    opacity:0;
  }

  to {
    opacity:1;
  }


}

@-webkit-keyframes streakerAnimationOff {

  from {
    opacity:1;
  }

  to {
    opacity:0;
  }


}





/* ##### Thumbnails ##### */


.thumbnail_8bit {
    background-image:url(../../img/thumb_8bit.gif);
    }

.thumbnail_bounce {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;

    top:0;
    left:calc(50% - 5px);
    margin-top:0;   
    -webkit-animation-name: bounceThumbnailAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

}

    @-webkit-keyframes bounceThumbnailAnimation {

      from {
        -webkit-transform: translateY(20px);
      }

      to {
        -webkit-transform: translateY(80px);
      }

    }


.thumbnail_orbit {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;

    top:0;
    left:calc(50% - 50px - 5px);
    -webkit-animation-name: orbitThumbnailAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50px 0;    

}

    @-webkit-keyframes orbitThumbnailAnimation {

      from {
        -webkit-transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(360deg);
      }

    }


.thumbnail_pulse {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;

    top:0;
    left:calc(50% - 5px);   
    -webkit-animation-name: pulseThumbnailAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;

}

    @-webkit-keyframes pulseThumbnailAnimation {

      from {
        -webkit-transform: scale(1,1);
      }

      to {
        -webkit-transform: scale(3,3);
      }


    }


.thumbnail_fader {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;
    top:0;
    left:calc(50% - 5px);

    -webkit-animation-name: faderThumbnailAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;

}

    @-webkit-keyframes faderThumbnailAnimation {

      from {
        opacity:0;
      }

      to {
        opacity:1;
      }


    }

.thumbnail_streaker {
    position:relative;
    width:150px;
    height:10px;
    margin-top:calc(50% - 10px);
    margin-left:auto;
    margin-right:auto;
    background-image:url(../../img/icon_streaker.png);
    background-size:150px 50px;
    background-position:0px 0px;
    -webkit-animation: streakerThumbnailAnimation 5s steps(5) infinite; 
    }

    @-webkit-keyframes streakerThumbnailAnimation {
        100% { background-position: 0px -50px; }
        }  


.thumbnail_spinner {
    width:90%;
    height:3px;
    background: -webkit-linear-gradient(left, #ffff96 0%,#ffffff 40%,#ffffff 60%,#ffff96 100%);
    margin-left:auto;
    margin-right:auto;
    margin-top:50%;
    -webkit-animation: spinnerAnimation 1s linear infinite;
    }

.thumbnail_flame {
    position:relative;
    width:150px;
    height:10px;
    margin-top:calc(50% - 10px);
    margin-left:auto;
    margin-right:auto;
    background-image:url(../../img/icon_flame.png);
    background-size:150px 50px;
    background-position:0px 0px;
    -webkit-animation: flameThumbnailAnimation .5s steps(5) infinite; 
    }

    @-webkit-keyframes flameThumbnailAnimation {
        100% { background-position: 0px -50px; }
        }

    


.thumbnail_dots {
    background-image:url(../../img/thumb_dots.png);
    }

.thumbnail_circles {
    background-image:url(../../img/thumb_circles.png);
    }

.thumbnail_stars {
    background-image:url(../../img/thumb_stars.png);
    }

.thumbnail_snowflakes {
    background-image:url(../../img/thumb_snowflakes.png);
    }

.thumbnail_notes {
    background-image:url(../../img/thumb_notes.png);
    }

.thumbnail_flowers {
    background-image:url(../../img/thumb_flowers.png);
    }


    body.nightMode .thumbnail_dots {
        background-image:url(../../img/thumb_dots-night.png);
        }

    body.nightMode .thumbnail_circles {
        background-image:url(../../img/thumb_circles-night.png);
        }

    body.nightMode .thumbnail_stars {
        background-image:url(../../img/thumb_stars-night.png);
        }

    body.nightMode .thumbnail_snowflakes {
        background-image:url(../../img/thumb_snowflakes-night.png);
        }

    body.nightMode .thumbnail_notes {
        background-image:url(../../img/thumb_notes-night.png);
        }

    body.nightMode .thumbnail_flowers {
        background-image:url(../../img/thumb_flowers-night.png);
        }


/* ##### Buttons ##### */

    #visualSelect_animatedBrushSpeed .selectButtonContainer {
        width:33.33%;
        }
