/* ##### layout styles ##### */

#animatedBrushFrame {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    }

.ball {
    width:20px;
    height:20px;
    border-radius:50%;
    position:absolute;
}


/* ##### navigation #####  */




#select_menu_palette {
    color:#000;
    font-weight:bold;
}


/* ##### animated brush styles ##### */


/* animated brush - font-based graphic elements */
@font-face {
    font-family: 'animatedBrushElements';
    src: url('../../fonts/animatedBrushElements.ttf');
    }


#animatedBrushWrapper {
    width:100%;
    height:100%;
    overflow:visible;
    }

/* animated brush - "8-bit" style */

#eightBitBrush {
    position:absolute;
    top:45%;
    left:0;
    width:100%;
    }

#eightBitBrush .pixel {
    float:left;
    width:6.2%;
    height:3em;
    margin:0;
    padding:0;
    }
 


/* animated brushes - character-based */

.brush_char {
    display:none;
    position:absolute;
    top:30%;
    text-align:center;
    width:100%;
    overflow:hidden;
    }

/* Make some characters invisible for random spacing */
.obj_hide {
    color:#000;
    }


    /* Dots - animated character-based brushes */

    #brush_dots {
        background:transparent;
    }

    #brush_dots span {
        font-family:animatedBrushElements;
        vertical-align:middle;
        }

    #brush_dots span::before {
        content:"\e600";
        }



    /* Circles - animated character-based brushes */

    #brush_circles {
        background:transparent;
    }

    #brush_circles span {
        font-family:animatedBrushElements;
        vertical-align:middle;
        }

    .circle0::before {content:"\e625";}

    .circle1::before {content:"\e626";}

    .circle2::before {content:"\e627";}

    .circle3::before {content:"\e628";}     

    .circle4::before {content:"\e629";}

    .circle5::before {content:"\e62a";}

    .circle6::before {content:"\e62b";}

    .circle7::before {content:"\e62c";}

    .circle8::before {content:"\e62d";}

    .circle9::before {content:"\e62e";}

    .circle10::before {content:"\e62f";}                        

    .circle11::before {content:"\e630";}



    /* Sparkles - animated character-based brushes */

    #brush_sparkles {
        background:transparent;
    }

    #brush_sparkles span {
        font-family:animatedBrushElements;
        vertical-align:middle;
        }

    .sparkle0::before {content:"\e619";}

    .sparkle1::before {content:"\e61a";}

    .sparkle2::before {content:"\e61b";}

    .sparkle3::before {content:"\e61c";}       

    .sparkle4::before {content:"\e61d";}

    .sparkle5::before {content:"\e61e";}

    .sparkle6::before {content:"\e61f";}

    .sparkle7::before {content:"\e620";}

    .sparkle8::before {content:"\e621";}

    .sparkle9::before {content:"\e622";}

    .sparkle10::before {content:"\e623";}                      

    .sparkle11::before {content:"\e624";}



    /* Snowflakes - animated character-based brushes */

    #brush_snowflakes {
        background:transparent;
    }

    #brush_snowflakes span {
        font-family:animatedBrushElements;
        vertical-align:middle;        
        }

    .snowflake0::before {content:"\e60d";}

    .snowflake1::before {content:"\e60e";}

    .snowflake2::before {content:"\e60f";}

    .snowflake3::before {content:"\e610";}      

    .snowflake4::before {content:"\e611";}

    .snowflake5::before {content:"\e612";}

    .snowflake6::before {content:"\e613";}

    .snowflake7::before {content:"\e614";}

    .snowflake8::before {content:"\e615";}

    .snowflake9::before {content:"\e616";}

    .snowflake10::before {content:"\e617";}                     

    .snowflake11::before {content:"\e618";}




/* Animated brush - flames */

#brush_flame {
    position:absolute;
    width:100%;
    height:10%;
    top:40%;
    left:0;
    z-index:200;
    background-image:url(../../img/animatedBrush_fire.jpg);
    background-size:cover;
    background-position:0 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: flameAnimation; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: linear;    
    }



@-webkit-keyframes flameAnimation {

    from {
        background-position:0px 0px;
        }

    to {
        background-position:0px calc(-12660px + 100px);
        }
    }        



/* Animated brush - spinner */

#brush_spinner {
    height:auto;
    }

#brush_spinnerShape {
    position:absolute;
    width:auto;
    height:6px;
    border-radius:3px;
    background: -webkit-linear-gradient(left, #f9f9f9 0%, #d3d2d0 25%, #a7a4a1 50%, #514d46 75%, #ebeae8 100%);  
    -webkit-animation: spinnerAnimation 1s linear infinite;
    }

    @-webkit-keyframes spinnerAnimation {
        from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
        to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
        }

    #brush_spinnerShape.palette_primary {
        background: -webkit-linear-gradient(left, red  0%, yellow 50%, blue 100%);        
    }

    #brush_spinnerShape.palette_citrus {
        background: -webkit-linear-gradient(left, #84d628 0%, #d0f54f 25%, #fcff33 50%, #ffa71b 75%, #ff5e45 100%);        
    }

    #brush_spinnerShape.palette_retro {
        background: -webkit-linear-gradient(left, #404040 0%, #024959 25%, #037e8c 50%, #f2efdc 75%, #f24c27 100%);        
    }

    #brush_spinnerShape.palette_winter {
        background: -webkit-linear-gradient(left, #273f5a 0%, #c6dbf3 25%, #4b81a5 50%, #74a0bf 75%, #98c4da 100%);        
    }

    #brush_spinnerShape.palette_spring {
        background: -webkit-linear-gradient(left, #45e851 0%, #5cb9ff 25%, #ffd722 50%, #e80855 75%, #8626ee 100%);        
    }

    #brush_spinnerShape.palette_summer {
        background: -webkit-linear-gradient(left, #ff860d 0%, #e8430c 25%, #ff0000 50%, #ff12dd 75%, #a10dff 100%);        
    }

    #brush_spinnerShape.palette_autumn {
        background: -webkit-linear-gradient(left, #766537 0%, #eeb415 25%, #bf5b04 50%, #c26f2d 75%, #592202 100%);        
    }

    #brush_spinnerShape.palette_usa {
        background: -webkit-linear-gradient(left, red  0%, white 50%, blue 100%);        
    }

    #brush_spinnerShape.palette_steel {
        background: -webkit-linear-gradient(left, #f9f9f9 0%, #d3d2d0 25%, #a7a4a1 50%, #514d46 75%, #ebeae8 100%);        
    }


/* Animated brush - bounce */


#brush_bounce {
    height:100%;
}

.ball.bounce {
    top:0;
    left:calc(50% - 5px);   
    -webkit-animation-name: bounceAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes bounceAnimation {

  from {
    -webkit-transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(360px);
  }

}


/* Animated brush - orbit */

#brush_orbit {}

.ball.orbit {
    top:calc(50% - 5px);
    left:calc(50% - 180px - 5px);
    -webkit-animation-name: orbitAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 180px 0;    
}

@-webkit-keyframes orbitAnimation {

  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }

}


/* Animated brush - pulse */

.ball.pulse {
    top:calc(50% - 5px);
    left:calc(50% - 5px);   
    -webkit-animation-name: pulseAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;
}



@-webkit-keyframes pulseAnimation {

  from {
    -webkit-transform: scale(1,1);
  }

  to {
    -webkit-transform: scale(18,18);
  }


}


/* Animated brush - fade */

.fader {
    -webkit-animation-name: faderAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;
}

.ball.fader {
  
}

    .brushsize_20 .ball.fader {
        width:8em;
        height:8em;
        border-radius:4em;
        top:calc(50% - 4em);
        left:calc(50% - 4em);  

    }

    .brushsize_50 .ball.fader {
        width:18em;
        height:18em;
        border-radius:9em;
        top:calc(50% - 9em);
        left:calc(50% - 9em);          

    }

    .brushsize_80 .ball.fader {
        width:28em;
        height:28em;
        border-radius:14em;
        top:calc(50% - 14em);
        left:calc(50% - 14em);         

    }

    .brushsize_100 .ball.fader {
        width:36em;
        height:36em;
        border-radius:18em;
        top:calc(50% - 18em);
        left:calc(50% - 18em); 
    }    


@-webkit-keyframes faderAnimation {

  from {
    opacity:0;
  }

  to {
    opacity:1;
  }


}


/* Animated brush - streaker */


.streaker_container {
    position:absolute;
    top:calc(50% - 3%);
    width:100%;
    height:6.2%;

}


.streaker_container .ball {
    opacity:0;
    position:relative;
    float:left;
    width:6.2%;
    height:180%;
    margin:0;
    padding:0;
}

.streaker_container .ball.on {
    -webkit-animation-name: streakerAnimationOn;
    opacity:1;
}

.streaker_container .ball.off {
    -webkit-animation-name: streakerAnimationOff;
    opacity:0;
}

@-webkit-keyframes streakerAnimationOn {

  from {
    opacity:0;
  }

  to {
    opacity:1;
  }


}

@-webkit-keyframes streakerAnimationOff {

  from {
    opacity:1;
  }

  to {
    opacity:0;
  }


}





/* ##### Thumbnails ##### */


.thumbnail_8bit {
    background-image:url(../../img/thumb_8bit.gif);
    }

.thumbnail_bounce {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;

    top:0;
    left:calc(50% - 5px);
    margin-top:0;   
    -webkit-animation-name: bounceThumbnailAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

}

    @-webkit-keyframes bounceThumbnailAnimation {

      from {
        -webkit-transform: translateY(20px);
      }

      to {
        -webkit-transform: translateY(80px);
      }

    }


.thumbnail_orbit {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;

    top:0;
    left:calc(50% - 50px - 5px);
    -webkit-animation-name: orbitThumbnailAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50px 0;    

}

    @-webkit-keyframes orbitThumbnailAnimation {

      from {
        -webkit-transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(360deg);
      }

    }


.thumbnail_pulse {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;

    top:0;
    left:calc(50% - 5px);   
    -webkit-animation-name: pulseThumbnailAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;

}

    @-webkit-keyframes pulseThumbnailAnimation {

      from {
        -webkit-transform: scale(1,1);
      }

      to {
        -webkit-transform: scale(3,3);
      }


    }


.thumbnail_fader {

    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#fff;
    position:absolute;
    top:0;
    left:calc(50% - 5px);

    -webkit-animation-name: faderThumbnailAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: linear;

}

    @-webkit-keyframes faderThumbnailAnimation {

      from {
        opacity:0;
      }

      to {
        opacity:1;
      }


    }

.thumbnail_streaker {
    position:relative;
    width:150px;
    height:10px;
    margin-top:calc(50% - 10px);
    margin-left:auto;
    margin-right:auto;
    background-image:url(../../img/icon_streaker.png);
    background-size:150px 50px;
    background-position:0px 0px;
    -webkit-animation: streakerThumbnailAnimation 5s steps(5) infinite; 
    }

    @-webkit-keyframes streakerThumbnailAnimation {
        100% { background-position: 0px -50px; }
        }  


.thumbnail_spinner {
    width:90%;
    height:3px;
    background: -webkit-linear-gradient(left, #f9f9f9 0%, #d3d2d0 50%, #ebeae8 100%);  
    margin-left:auto;
    margin-right:auto;
    margin-top:50%;
    -webkit-animation: spinnerAnimation 1s linear infinite;
    }

.thumbnail_flame {
    position:relative;
    width:150px;
    height:10px;
    margin-top:calc(50% - 10px);
    margin-left:auto;
    margin-right:auto;
    background-image:url(../../img/icon_flame.png);
    background-size:150px 50px;
    background-position:0px 0px;
    -webkit-animation: flameThumbnailAnimation .5s steps(5) infinite; 
    }

    @-webkit-keyframes flameThumbnailAnimation {
        100% { background-position: 0px -50px; }
        }


.thumbnail_dots {
    height:50px;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(../../img/thumb_dots.gif);
    }

.thumbnail_circles {
    height:50px;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(../../img/thumb_circles.gif);
    }

.thumbnail_sparkles {
    height:50px;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(../../img/thumb_sparkles.gif);
    }

.thumbnail_snowflakes {
    height:50px;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(../../img/thumb_snowflakes.gif);
    }


/* ##### Buttons ##### */

    #visualSelect_animatedBrushSpeed .selectButtonContainer {
        width:33.33%;
        }
