.white {
    background-color:#fff;
}

.blue {
    background-color:#0074D9;
}

.aqua {
    background-color:#7FDBFF;
}

.teal {
    background-color:#39CCCC;
}

.olive {
    background-color:#3D9970;
}

.green { 
    background-color:#2ECC40;
}

.lime {
    background-color:##01FF70;
}

.yellow {
    background-color:#ffdc00;
}

.orange {
    background-color:#ff851b;
}

.red {
    background-color:#ff4136;
}

.maroon {
    background-color:#85144b;
}

.fuchsia {
    background-color:#f012be;
}

.purple {
    .background-color:#B10DC9;
}

.silver {
    background-color:#ddd;
}
