/* ##### Colors ##### */

.color_white {
    background-color:white;
}

.color_blue {
    background-color:blue;
}

.color_aqua {
    background-color:aqua;
}

.color_teal {
    background-color:teal;
}

.color_olive {
    background-color:olive;
}

.color_green {
    background-color:green;
}

.color_lime {
    background-color:lime;
}

.color_yellow {
    background-color:yellow;
}

.color_orange {
    background-color:orange;
}

.color_red {
    background-color:red;
}

.color_maroon {
    background-color:maroon;
}

.color_fuchsia {
    background-color:fuchsia;
}

.color_purple {
    background-color:purple;
}

.color_silver {
    background-color:silver;
}


/* ##### Stripes ##### */

.stripes_primary {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 33%,
    yellow 33%,
    yellow 66%,
    blue 66%,
    blue 100%
    );
}

.stripes_rainbow {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 14.285%,
    orange 14%,
    orange 28.57%,
    yellow 28.57%,
    yellow 42.855%,
    green 42.855%,
    green 57.14%,
    blue 57.14%,
    blue 71.425%,
    indigo 71.425%,
    indigo 85.71%,
    violet 85.71%,
    violet 100%
    );
}

.stripes_citrus {
    background: -webkit-linear-gradient(left,
    #84d628 0%,
    #84d628 20%,
    #d0f54f 20%,
    #d0f54f 40%,
    #fcff33 40%,
    #fcff33 60%,
    #ffa71b 60%,
    #ffa71b 80%,
    #ff5e45 80%,
    #ff5e45 100%
    );
}


.stripes_retro {
    background: -webkit-linear-gradient(left,
    #404040 0%,
    #404040 20%,
    #024959 20%,
    #024959 40%,
    #037e8c 40%,
    #037e8c 60%,
    #f2efdc 60%,
    #f2efdc 80%,
    #f24c27 80%,
    #f24c27 100%
    );
}


.stripes_winter {
    background: -webkit-linear-gradient(left,
    #273f5a 0%,
    #273f5a 20%,
    #c6dbf3 20%,
    #c6dbf3 40%,
    #4b81a5 40%,
    #4b81a5 60%,
    #74a0bf 60%,
    #74a0bf 80%,
    #98c4da 80%,
    #98c4da 100%
    );
}


.stripes_spring {
    background: -webkit-linear-gradient(left,
    #45e851 0%,
    #45e851 20%,
    #5cb9ff 20%,
    #5cb9ff 40%,
    #ffd722 40%,
    #ffd722 60%,
    #e80855 60%,
    #e80855 80%,
    #8626ee 80%,
    #8626ee 100%
    );
}


.stripes_summer {
    background: -webkit-linear-gradient(left,
    #ff860d 0%,
    #ff860d 20%,
    #e8430c 20%,
    #e8430c 40%,
    #ff0000 40%,
    #ff0000 60%,
    #ff12dd 60%,
    #ff12dd 80%,
    #a10dff 80%,
    #a10dff 100%
    );
}


.stripes_autumn {
    background: -webkit-linear-gradient(left,
    #766537 0%,
    #766537 20%,
    #eeb415 20%,
    #eeb415 40%,
    #bf5b04 40%,
    #bf5b04 60%,
    #c26f2d 60%,
    #c26f2d 80%,
    #592202 80%,
    #592202 100%
    );
}


.stripes_usa {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 33%,
    white 33%,
    white 66%,
    blue 66%,
    blue 100%
    );
}

.stripes_steel {
    background: -webkit-linear-gradient(left,
    #f9f9f9 0%,
    #f9f9f9 20%,
    #d3d2d0 20%,
    #d3d2d0 40%,
    #a7a4a1 40%,
    #a7a4a1 60%,
    #514d46 60%,
    #514d46 80%,
    #ebeae8 80%,
    #ebeae8 100%
    );
}



/* ##### Gradients ##### */

.gradient {

background: -webkit-linear-gradient(left,
    rgba(0,0,0,1) 0%,
    rgba(137,159,255,1) 20%,
    rgba(137,159,255,1) 30%,
    rgba(137,159,255,1) 40%,
    rgba(137,149,255,1) 50%,
    rgba(59,87,247,1) 70%,
    rgba(0,0,0,1) 100%); 
    -webkit-filter: grayscale(100%);
    }

    .gradient.green {
        -webkit-filter: hue-rotate(260deg);
        }

    .gradient.violet {
        -webkit-filter: hue-rotate(40deg);
        }

    .gradient.red {
        -webkit-filter: hue-rotate(130deg);
        }

    .gradient.yellow {
        -webkit-filter: hue-rotate(190deg);
        }

    .gradient.blue {
        -webkit-filter: hue-rotate(0deg);
        }


.gradient_primary {
    background: -webkit-linear-gradient(left,
    red 0%,
    yellow 50%,
    blue 100%
    ); 
}

.gradient_citrus {
    background: -webkit-linear-gradient(left,
    #84d628 0%,
    #d0f54f 25%,
    #fcff33 50%,
    #ffa71b 75%,
    #ff5e45 100%
    );     
}

.gradient_retro {
    background: -webkit-linear-gradient(left,
    #404040 0%,
    #024959 25%,
    #037e8c 50%,
    #f2efdc 75%,
    #f24c27 100%
    );
}

.gradient_winter {
    background: -webkit-linear-gradient(left,
    #273f5a 0%,
    #c6dbf3 25%,
    #4b81a5 50%,
    #74a0bf 75%,
    #98c4da 100%
    );
}

.gradient_spring {
    background: -webkit-linear-gradient(left,
    #45e851 0%,
    #5cb9ff 25%,
    #ffd722 50%,
    #e80855 75%,
    #8626ee 100%
    );
}

.gradient_summer {
    background: -webkit-linear-gradient(left,
    #ff860d 0%,
    #e8430c 25%,
    #ff0000 50%,
    #ff12dd 75%,
    #a10dff 100%
    );
}

.gradient_autumn {
    background: -webkit-linear-gradient(left,
    #766537 0%,
    #eeb415 25%,
    #bf5b04 50%,
    #c26f2d 75%,
    #592202 100%
    );
}

.gradient_usa {
    background: -webkit-linear-gradient(left,
    red 0%,
    white 50%,
    blue 100%
    ); 
}

.gradient_spectrum {
    background: -webkit-linear-gradient(left,
    red 14%,
    orange 28%,
    yellow 32%,
    green 46%,
    blue 60%,
    indigo 74%,
    violet 88%
    );
}

.gradient_smoke {
    background: -webkit-linear-gradient(left,
    rgb(4,21,45) 0%,
    rgb(16,40,67) 1%,
    rgb(30,57,83) 2%,
    rgb(41,66,88) 3%,
    rgb(44,70,88) 4%,
    rgb(44,70,88) 5%,
    rgb(44,74,94) 6%,
    rgb(52,84,105) 7%,
    rgb(61,92,110) 8%,
    rgb(67,97,108) 9%,
    rgb(69,95,101) 10%,
    rgb(66,88,86) 11%,
    rgb(57,76,69) 12%,
    rgb(46,64,55) 13%,
    rgb(31,48,39) 14%,
    rgb(23,38,32) 15%,
    rgb(17,31,28) 16%,
    rgb(14,28,27) 17%,
    rgb(13,25,26) 18%,
    rgb(12,25,25) 19%,
    rgb(10,23,24) 20%,
    rgb(10,23,23) 21%,
    rgb(8,22,22) 22%,
    rgb(8,21,23) 23%,
    rgb(9,21,24) 24%,
    rgb(11,22,24) 25%,
    rgb(8,22,22) 26%,
    rgb(6,23,21) 27%,
    rgb(4,23,21) 28%,
    rgb(8,24,22) 29%,
    rgb(6,23,21) 30%,
    rgb(4,22,21) 31%,
    rgb(6,22,23) 32%,
    rgb(9,22,25) 33%,
    rgb(8,21,24) 34%,
    rgb(9,23,23) 35%,
    rgb(10,23,23) 36%,
    rgb(8,23,22) 37%,
    rgb(7,23,22) 38%,
    rgb(8,23,21) 39%,
    rgb(10,23,22) 40%,
    rgb(13,23,22) 41%,
    rgb(12,23,24) 42%,
    rgb(11,23,25) 43%,
    rgb(10,23,25) 44%,
    rgb(11,24,26) 45%,
    rgb(13,24,26) 46%,
    rgb(13,24,28) 47%,
    rgb(11,24,27) 48%,
    rgb(11,25,27) 49%,
    rgb(10,26,28) 50%,
    rgb(10,26,29) 51%,
    rgb(12,27,30) 52%,
    rgb(14,27,31) 53%,
    rgb(13,28,32) 54%,
    rgb(14,28,34) 55%,
    rgb(14,28,34) 56%,
    rgb(14,30,34) 57%,
    rgb(18,32,36) 58%,
    rgb(19,33,37) 59%,
    rgb(20,34,38) 60%,
    rgb(21,35,39) 61%,
    rgb(22,36,40) 62%,
    rgb(21,38,44) 63%,
    rgb(22,39,45) 64%,
    rgb(24,41,46) 65%,
    rgb(25,42,48) 66%,
    rgb(27,46,51) 67%,
    rgb(29,49,54) 68%,
    rgb(30,50,55) 69%,
    rgb(32,52,57) 70%,
    rgb(32,53,60) 71%,
    rgb(31,55,61) 72%,
    rgb(33,57,63) 73%,
    rgb(36,57,64) 74%,
    rgb(41,59,67) 75%,
    rgb(42,60,67) 76%,
    rgb(45,64,71) 77%,
    rgb(46,65,72) 78%,
    rgb(46,67,74) 79%,
    rgb(47,68,75) 80%,
    rgb(49,70,77) 81%,
    rgb(52,72,82) 82%,
    rgb(53,77,88) 83%,
    rgb(57,84,97) 84%,
    rgb(63,92,107) 85%,
    rgb(75,108,124) 86%,
    rgb(98,130,145) 87%,
    rgb(113,144,157) 88%,
    rgb(130,158,167) 89%,
    rgb(138,163,169) 90%,
    rgb(136,160,163) 91%,
    rgb(132,154,154) 92%,
    rgb(120,141,139) 93%,
    rgb(106,128,123) 94%,
    rgb(78,99,88) 95%,
    rgb(55,77,64) 96%,
    rgb(30,45,32) 97%,
    rgb(5,18,5) 98%,
    rgb(5,18,5) 99%,
    rgb(0,0,0) 100%
    );
    
    -webkit-filter: grayscale(100%); /* white */

    }

    .gradient_smoke.green {
        -webkit-filter: hue-rotate(260deg);
        }

    .gradient_smoke.violet {
        -webkit-filter: hue-rotate(40deg);
        }

    .gradient_smoke.red {
        -webkit-filter: hue-rotate(130deg);
        }

    .gradient_smoke.yellow {
        -webkit-filter: hue-rotate(200deg);
        }

    .gradient_smoke.blue {
        -webkit-filter: hue-rotate(0deg);
        }


/* ##### Palettes ##### */
/* Used by brushes that don't lend themselves to textures like stripes, gradients. etc. */

.palette_primary {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 33%,
    yellow 33%,
    yellow 66%,
    blue 66%,
    blue 100%
    );
}

.palette_rainbow {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 14.285%,
    orange 14%,
    orange 28.57%,
    yellow 28.57%,
    yellow 42.855%,
    green 42.855%,
    green 57.14%,
    blue 57.14%,
    blue 71.425%,
    indigo 71.425%,
    indigo 85.71%,
    violet 85.71%,
    violet 100%
    );
}

.palette_citrus {
    background: -webkit-linear-gradient(left,
    #84d628 0%,
    #84d628 20%,
    #d0f54f 20%,
    #d0f54f 40%,
    #fcff33 40%,
    #fcff33 60%,
    #ffa71b 60%,
    #ffa71b 80%,
    #ff5e45 80%,
    #ff5e45 100%
    );
}

.palette_retro {
    background: -webkit-linear-gradient(left,
    #404040 0%,
    #404040 20%,
    #024959 20%,
    #024959 40%,
    #037e8c 40%,
    #037e8c 60%,
    #f2efdc 60%,
    #f2efdc 80%,
    #f24c27 80%,
    #f24c27 100%
    );
}

.palette_winter {
    background: -webkit-linear-gradient(left,
    #273f5a 0%,
    #273f5a 20%,
    #c6dbf3 20%,
    #c6dbf3 40%,
    #4b81a5 40%,
    #4b81a5 60%,
    #74a0bf 60%,
    #74a0bf 80%,
    #98c4da 80%,
    #98c4da 100%
    );
}

.palette_spring {
    background: -webkit-linear-gradient(left,
    #45e851 0%,
    #45e851 20%,
    #5cb9ff 20%,
    #5cb9ff 40%,
    #ffd722 40%,
    #ffd722 60%,
    #e80855 60%,
    #e80855 80%,
    #8626ee 80%,
    #8626ee 100%
    );
}

.palette_summer {
    background: -webkit-linear-gradient(left,
    #ff860d 0%,
    #ff860d 20%,
    #e8430c 20%,
    #e8430c 40%,
    #ff0000 40%,
    #ff0000 60%,
    #ff12dd 60%,
    #ff12dd 80%,
    #a10dff 80%,
    #a10dff 100%
    );
}

.palette_autumn {
    background: -webkit-linear-gradient(left,
    #766537 0%,
    #766537 20%,
    #eeb415 20%,
    #eeb415 40%,
    #bf5b04 40%,
    #bf5b04 60%,
    #c26f2d 60%,
    #c26f2d 80%,
    #592202 80%,
    #592202 100%
    );
}

.palette_usa {
    background: -webkit-linear-gradient(left,
    red 0%,
    red 33%,
    white 33%,
    white 66%,
    blue 66%,
    blue 100%
    );
}

.palette_steel {
    background: -webkit-linear-gradient(left,
    #f9f9f9 0%,
    #f9f9f9 20%,
    #d3d2d0 20%,
    #d3d2d0 40%,
    #a7a4a1 40%,
    #a7a4a1 60%,
    #514d46 60%,
    #514d46 80%,
    #ebeae8 80%,
    #ebeae8 100%
    );
}



/* ##### Color Cycles #####  */


.colorCycle {
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;    
}

.colorCycle_primary {
    -webkit-animation-name:colorCyclePrimary;
    }

    @-webkit-keyframes colorCyclePrimary {
        0% {background: red;}
        20% {background: yellow;}
        40% {background: blue;}
        60% {background: green;}
        80% {background: purple;}
        100% {background: red;}
        }

.colorCycle_citrus {
    -webkit-animation-name:colorCycleCitrus;
    }

    @-webkit-keyframes colorCycleCitrus {
        0% {background: #84d628;}
        20% {background: #d0f54f;}
        40% {background: #fcff33;}
        60% {background: #ffa71b;}
        80% {background: #ff5e45;}
        100% {background: #84d628;}
        }

.colorCycle_retro {
    -webkit-animation-name:colorCycleRetro;
    }

    @-webkit-keyframes colorCycleRetro {
        0% {background: #404040;}
        20% {background: #024959;}
        40% {background: #037e8c;}
        60% {background: #f2efdc;}
        80% {background: #f24c27;}
        100% {background: #404040;}
        }

.colorCycle_winter {
    -webkit-animation-name:colorCycleWinter;
    }

    @-webkit-keyframes colorCycleWinter {
        0% {background: #273f5a;}
        20% {background: #c6dbf3;}
        40% {background: #4b81a5;}
        60% {background: #74a0bf;}
        80% {background: #98c4da;}
        100% {background: #273f5a;}
        }


.colorCycle_spring {
    -webkit-animation-name:colorCycleSpring;
    }

    @-webkit-keyframes colorCycleSpring {
        0% {background: #45e851;}
        20% {background: #5cb9ff;}
        40% {background: #ffd722;}
        60% {background: #e80855;}
        80% {background: #8626ee;}
        100% {background: #45e851;}
        }

.colorCycle_summer {
    -webkit-animation-name:colorCycleSummer;
    }

    @-webkit-keyframes colorCycleSummer {
        0% {background: #ff860d;}
        20% {background: #e8430c;}
        40% {background: #ff0000;}
        60% {background: #ff12dd;}
        80% {background: #a10dff;}
        100% {background: #ff860d;}
        }

.colorCycle_autumn {
    -webkit-animation-name:colorCycleAutumn;
    }

    @-webkit-keyframes colorCycleAutumn {
        0% {background: #766537;}
        20% {background: #eeb415;}
        40% {background: #bf5b04;}
        60% {background: #c26f2d;}
        80% {background: #592202;}
        100% {background: #766537;}
        }

.colorCycle_usa {
    -webkit-animation-name:colorCycleUsa;
    }

    @-webkit-keyframes colorCycleUsa {
        0% {background: red;}
        33% {background: white;}
        66% {background: blue;}
        100% {background: red;}
        }



/* ##### Character animation color palettes ##### */

.palette_primary .charColor0,
.palette_primary .charColor1 {color:red;}        

.palette_primary .charColor2,
.palette_primary .charColor3 {color:yellow;}        

.palette_primary .charColor4 {color:blue;}        


.palette_citrus .charColor0 {
    color:#84d628;
    }

.palette_citrus .charColor1 {
    color:#d0f54f;
    }        

.palette_citrus .charColor2 {
    color:#fcff33;
    }

.palette_citrus .charColor3 {
    color:#ffa71b;
    }        

.palette_citrus .charColor4 {
    color:#ff5e45;
    } 


.palette_retro .charColor0 {
    color:#404040;
    }

.palette_retro .charColor1 {
    color:#024959;
    }        

.palette_retro .charColor2 {
    color:#037e8c;
    }

.palette_retro .charColor3 {
    color:#f2efdc;
    }        

.palette_retro .charColor4 {
    color:#f24c27;
    } 


.palette_winter .charColor0 {
    color:#273f5a;
    }

.palette_winter .charColor1 {
    color:#c6dbf3;
    }        

.palette_winter .charColor2 {
    color:#4b81a5;
    }

.palette_winter .charColor3 {
    color:#74a0bf;
    }        

.palette_winter .charColor4 {
    color:#98c4da;
    } 


.palette_spring .charColor0 {
    color:#45e851;
    }

.palette_spring .charColor1 {
    color:#5cb9ff;
    }        

.palette_spring .charColor2 {
    color:#ffd722;
    }

.palette_spring .charColor3 {
    color:#e80855;
    }        

.palette_spring .charColor4 {
    color:#8626ee;
    } 


.palette_summer .charColor0 {
    color:#ff860d;
    }

.palette_summer .charColor1 {
    color:#e8430c;
    }        

.palette_summer .charColor2 {
    color:#ff0000;
    }

.palette_summer .charColor3 {
    color:#ff12dd;
    }        

.palette_summer .charColor4 {
    color:#a10dff;
    } 


.palette_autumn .charColor0 {
    color:#766537;
    }

.palette_autumn .charColor1 {
    color:#eeb415;
    }        

.palette_autumn .charColor2 {
    color:#bf5b04;
    }

.palette_autumn .charColor3 {
    color:#c26f2d;
    }        

.palette_autumn .charColor4 {
    color:#592202;
    } 


.palette_usa .charColor0,
.palette_usa .charColor1{
    color:red;
    }        

.palette_usa .charColor2,
.palette_usa .charColor3 {
    color:white;
    }        

.palette_usa .charColor4 {
    color:blue;
    }  


.palette_steel .charColor0 {
    color:#f9f9f9;
    }

.palette_steel .charColor1 {
    color:#d3d2d0;
    }        

.palette_steel .charColor2 {
    color:#a7a4a1;
    }

.palette_steel .charColor3 {
    color:#514d46;
    }        

.palette_steel .charColor4 {
    color:#ebeae8;
    } 







/* ##### Thumbnails ##### */        

.thumbnail_colorCycle {
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;
}

    .thumbnail_colorCycle_primary {
        -webkit-animation-name:colorCyclePrimary;
        }

    .thumbnail_colorCycle_spring {
        -webkit-animation-name:colorCycleSpring;
        }

    .thumbnail_colorCycle_summer {
        -webkit-animation-name:colorCycleSummer;
        }

    .thumbnail_colorCycle_autumn {
        -webkit-animation-name:colorCycleAutumn;
        }

    .thumbnail_colorCycle_winter {
        -webkit-animation-name:colorCycleWinter;
        }

    .thumbnail_colorCycle_forest {
        -webkit-animation-name:colorCycleUsa;
        }

    .thumbnail_colorCycle_citrus {
        -webkit-animation-name:colorCycleCitrus;
        }

    .thumbnail_colorCycle_retro {
        -webkit-animation-name:colorCycleRetro;
        }        

    .thumbnail_colorCycle_usa {
        -webkit-animation-name:colorCycleUsa;
        }

    .thumbnail_colorCycle_grayscale {
        -webkit-animation-name:colorCycleGrayscale;
        }

    .thumbnail_colorCycle_red {
        -webkit-animation-name:colorCycleRed;
        }

    .thumbnail_colorCycle_yellow {
        -webkit-animation-name:colorCycleYellow;
        }        

    .thumbnail_colorCycle_blue {
        -webkit-animation-name:colorCycle_blue;
        }

    .thumbnail_colorCycle_green {
        -webkit-animation-name:colorCycleGreen;
        }            